
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr class="headerTr">
        <th scope="col">Comments</th>
        <th scope="col">Vote Count</th>
        <th scope="col">UpVote</th>
        <th scope="col">News Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories;">
           <td ><a href="#"class="title">{{story.num_comments}} </a></td> 
           <td class="title">{{story.points}}</td> 
           <td> <a href="#" (click)="UpVote(story.objectID)">
                  <div class="triangle-up"></div>
                </a> 
           </td> 
           <td> 
            <a href="{{story.url}}" target="_blank"
               class="title">{{story.title}}
            </a>
            <span class="siteLink"> 
                (<a href="{{story.url}}" target="_blank">
                    <span class="sitestr">{{story.url | getHostFromUrl}}</span></a>)
            </span>
            <span class="siteLink">by 
                  <b><a href="#" class="author"> {{story.author}} </a></b> 
                  {{story.created_at | getHoursFromDate}}  [ <a href="#" class="author" (click) ="Hide(story)"> Hide </a> ] 
            </span>
            
           </td> 
      </tr>
    </tbody>
    <tfoot>
        <tr>
            <td> <button type="button"  class="btn btn-link" (click)="getPrev()" [disabled]="IsPrevDisable"><span> Prev </span></button></td>
            <td> <button type="button"  class="btn"> <span> Page Number : {{pageNumber}} </span></button></td>
            <td> <button type="button"  class="btn btn-link" (click)="getNext()" [disabled]="IsNextDisable"><span> Next </span></button></td>
        </tr>
    </tfoot>
  </table>
</div>

<app-hacker-news-chart [storyDetail] ="stories"></app-hacker-news-chart>