/* You can add global styles to this file, and also import other style files */
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #000000
}

.siteLink
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
    color: #808080
}

.author
{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 9pt;
    color: #000000
}

